<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="testSuite">
    <parameter name="browser" value="chrome"/>
    <test name="firstTest">
        <classes>
            <class name="test.java.Test1"/>
            <class name="test.java.Test2"/>
            <!--ONLY 5 TEST SUPPOSE TO BE TESTED-->
        </classes>
    </test>
</suite>