<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="testSuite">
    <parameter name="browser" value="chrome"/>
    <parameter name="browser" value="firefox"/>
    <test name="firstTest">
        <classes>
            <class name="test.java.OtherTests.Test5"/>
            <!--ONLY 1 TEST SUPPOSE TO BE TESTED ON CHROME-->
        </classes>
    </test>
</suite>